/* Portfolio */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding-inline-start: 0px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

/*header */

header{
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-right: auto;
}

header .container {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  margin-left: 95px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* логотип в шапці сайта */
.card-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.color-text {
  color: #2196f3;
}

/* посилання в шапці сайта */

.nav-item {
  margin-left: 55px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-item:first-child {
  margin-left: auto;
}

.card-headerlink {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-headerlink:hover {
  color: #2196f3;
}

.contact-list {
  display: flex;
}

.contact-item:first-child {
  margin-left: auto;
  margin-right: 50px;
}

.contact-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-link:hover {
  color: #2196f3;
}

/* main */

/* buttons */

.portfolio-buttons .container {
  padding-top: 95px;
}

.buttons-list {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.buttons-item {
  margin-left: 8px;
}

.portfolio-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio-button:hover {
  color: #ffffff;
  background-color: #2196f3;
}
/* images */

.portfolio-images {
  outline: 2px solid purple;
}

.images-list {
  display: flex;
  flex-wrap: wrap-reverse;
  padding-top: 35px;
  padding-bottom: 95px;
  margin: -15px;
}

.images-item {
  width: 370px;
  margin: 15px;
}

.images-item:first-child {
  margin-left: 0px;
}

.image-name {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.image-description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* footer */

.footer {
  outline: 2px solid red;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

/* логотип в підвалі сайта */
.card-footerlogo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  text-decoration: none;
}

/* адреса */
.address {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  padding-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
}

/* посилання в підвалі сайта */
.footerlink {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  display: flex;
  margin-bottom: 9px;
}
