@charset "UTF-8";
.footer-icons-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  padding-top: 80px;
}

.card-body {
  font-family: "Roboto";
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__links {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 95px;
  }
}

/* логотип в шапці сайта */
.nav__card-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .nav__card-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.color-text {
  color: #2196f3;
}

/* посилання в шапці сайта */
@media screen and (min-width: 768px) {
  .nav__item {
    margin-left: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item {
    margin-left: 52px;
  }
}

@media screen and (min-width: 480px) {
  .nav__item:first-child {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav__headerlink {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .nav__headerlink::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: #2196f3;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms, -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms, transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms, transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@media screen and (min-width: 768px) {
  .nav__headerlink:hover::after {
    opacity: 1;
    width: 100%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media screen and (min-width: 768px) {
  .nav__headerlink:hover {
    color: #2196f3;
  }
}

.contact-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 96px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__item {
    margin-bottom: auto;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__item:first-child {
    margin-left: auto;
    margin-right: 59px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__item:first-child {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__link:hover {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

/* main */
/* buttons */
.portfolio-buttons .container {
  padding-top: 95px;
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 35px;
}

.buttons-list__item {
  margin-left: 8px;
}

.buttons-list__button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
}

.buttons-list__button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

/* images */
.images-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding-top: 35px;
  padding-bottom: 95px;
  margin: -15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 24px 63px;
  background-color: rgba(33, 150, 243, 0.8);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  opacity: 0;
  -webkit-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 70ms;
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 70ms;
}

.images-list__item {
  width: 370px;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
}

.image-overlay {
  position: relative;
  height: 294px;
  overflow: hidden;
}

.images-list__item:hover .overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.image-text {
  border: 1px solid #EEEEEE;
  border-top: none;
}

.images-list__item:hover .image-text {
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-text__name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-left: 24px;
}

.image-text__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-left: 24px;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

/* логотип в підвалі сайта */
.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

/* адреса */
.footer__address {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  padding-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
}

/* посилання в підвалі сайта */
.footer__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
}

/* join to us */
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container2 {
  margin-left: 70px;
  padding-top: 12px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icons-list__icon {
  margin-left: 10px;
  border-radius: 50%;
  fill: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 70ms;
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 70ms;
}

.footer-icons-list__icon:hover {
  background-color: #2196f3;
}

.footer-icons-list__icon:nth-child(1) {
  margin-left: 0px;
}

.footer-coment {
  margin-left: 80px;
  position: relative;
}

.footer-coment__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -40px;
}

.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.subscribe-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  border: none;
  margin-left: 12px;
}

.footer-coment__text-input {
  display: block;
  margin-left: 40px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border-color: #afb1b8;
  background-color: #2f303a;
}

.add-comment-footer {
  position: absolute;
  top: 54px;
  left: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #afb1b8;
}/*# sourceMappingURL=portfolio.css.map */