/* clients */

.clients-section .container {
  padding-top: 90px;
  padding-bottom: 94px;
}

.clients-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
}

.clients-list {
  justify-content: center;
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap-reverse;
    padding-left: 0px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients-list__icon {
  margin-top: 50px;
  margin-right: 30px;
  width: 170px;
  height: 90px;
  border: 1px solid $third-color;
  border-radius: 4px;
  fill: $third-color;
  transition: 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 40ms;
}

.clients-list__icon:nth-child(1) {
  padding: 20px 63px;
}

.clients-list__icon:nth-child(2) {
  padding: 19px 65px;
}

.clients-list__icon:nth-child(3) {
  padding: 24px 65px;
}

.clients-list__icon:nth-child(4) {
  padding: 24px 45px;
}

.clients-list__icon:nth-child(5) {
  padding: 22px 55px;
}

.clients-list__icon:nth-child(6) {
  padding: 22px 41px;
}

.clients-list__icon:last-child {
  margin-right: 0px;
}

.clients-list__icon:hover {
  fill: $color-blue;
  border-color: $color-blue;
}
