header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $pure-white-color;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #ececec;
  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.mobile-btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-right: auto;
  }
}

header .container {
  display: flex;
}

.nav__links {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 95px;
    padding-top: 32px;
  }
}

/* логотип в шапці сайта */
.nav__card-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $logo-color;
  text-decoration: none;
  display: block;
  padding-top: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 25px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.color-text {
  color: $color-blue;
}

/* посилання в шапці сайта */

.nav__item {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 52px;
  }
}

.nav__item:first-child {
  @media screen and (min-width: 480px) {
    margin-left: auto;
  }
}

.nav__headerlink {
  @media screen and (min-width: 768px) {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
    text-decoration: none;
    position: relative;
    padding-bottom: 28px;
  }
}

.nav__headerlink::after {
  @media screen and (min-width: 768px) {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: $color-blue;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms,
      transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scaleX(0);
  }
}

.nav__headerlink:hover::after {
  @media screen and (min-width: 768px) {
    opacity: 1;
    width: 100%;
    transform: scaleX(1);
  }
}

.nav__headerlink:hover {
  @media screen and (min-width: 768px) {
    color: $color-blue;
  }
}

.contact-list {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 21px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 32px;
  }
}

.contact-list__item {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: auto;
  }
}

.contact-list__item:first-child {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contact-list__link {
  @media screen and (min-width: 768px) {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $secondary-colour;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contact-list__link:hover {
  @media screen and (min-width: 768px) {
    color: $color-blue;
  }
}

.contact-list__icon {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
    fill: currentColor;
  }
}