$logo-color: #000000;
$text-color: #212121;
$secondary-colour: #757575;
$third-color: #afb1b8;
$color-blue: #2196f3;
$pure-white-color: #ffffff;
$bgfooter-color: #2f303a;
$bgm-color: #f5f4fa;
$portfolio-border-color: #EEEEEE;